<a class="ui raised card GadgetCard"
   :href="link"
   @click="addHistory"
   v-if="visible"
   :class="labelType"
   :target="module">
  <div class="content">
    <div class="center aligned author">
      <img class="ui avatar image" 
           :src="imageURL">
      {{ moduleDisplay }}
      <br />
      <div class="ui top left attached mini label"
           :class="labelType">
        {{ moduleGroup}}
      </div>
      <span class="ui right corner mini label"
         @click.stop.prevent="toggleStarred"
         :class="{yellow: !notInStarred}">
        <i class="star icon"
           :class="{outline: notInStarred}"></i>
      </span>
    </div>
    
  </div>
  <div class="extra content">
    <div class="center aligned header">
      {{ $t(module + '.header') }}
    </div>
    <div class="center aligned description">
      <p>
        {{ $t(module + '.description') }}
      </p>
    </div>
  </div>
</a>