h1 {
    font-size: 1rem !important;
}

.menu-padding {
  height: 70px !important;
}

.ui.cards {
    padding: 1rem !important;
    width: calc(100vw - 2rem);
}

.menu a img.image {
  width: 1.5em !important;
  height: auto !important;
  margin-right: 1em !important;
}