<div class="Index"
     v-show="config.inited">
  <div class="ui top fixed menu">
    <div class="item">
      <img :src="config.baseImage + '/img/favicon/favicon.png'" />
    </div>
    <span class="item">
      <h1>{{ config.baseHostnameShort }}</h1>
    </span>
    <a class="item"
       :href="computedAppURL"
       target="app">
      Webapp
    </a>
    <a class="item"
       :href="computedConsoleURL"
       target="comsole">
      Console
    </a>
    <a class="item"
       :href="computedDataURL"
       target="data">
      Data
    </a>

    <div class="right item">
      <div class="ui icon input">
        <input 
          type="text" 
          placeholder="Search..."
          v-model="localConfig.searchKeyword">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
  
  <div class="menu-padding"></div>

  <div class="ui cards" v-if="sortedStaredModules.length > 0">
    <GadgetCard 
      v-for="m in sortedStaredModules"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:module="m">
    </GadgetCard>
  </div>
  <div class="ui cards" v-if="sortedModules.length > 0">
    <GadgetCard 
      v-for="m in sortedModules"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:module="m">
    </GadgetCard>
  </div>
</div>