<div class="Index">
  <div class="ui top fixed menu">
    <div class="item">
      <img :src="config.baseURL + '/img/favicon/favicon.png'" />
    </div>
    <span class="item">
      <h1>{{ config.baseHostnameShort }}</h1>
    </span>
    <a class="item"
       :href="computedWebappURL"
       target="webapp">
      Webapp
    </a>
    <a class="item"
       :href="computedConsoleURL"
       target="comsole">
      Console
    </a>
    <a class="item"
       :href="computedBackupURL"
       target="backup">
      Backup
    </a>

    <div class="right item">
      <div class="ui icon input">
        <input 
          type="text" 
          placeholder="Search..."
          v-model="localConfig.searchKeyword">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
  
  <div class="menu-padding"></div>

  <div class="ui cards">
    <GadgetCard 
      v-for="m in webappModules"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:module="m"
      moduleGroup="webapp">
    </GadgetCard>

    <GadgetCard 
      v-for="m in config.ENV_DATABASE_DRIVERS"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:module="m"
      moduleGroup="database">
    </GadgetCard>
  </div>
</div>